<%- partial('_partial/head') %>

<body>
  <%- partial('_partial/header') %>
  <%- partial('_partial/nav') %>
  <!-- 文章主体布局 -->
  <div class="ui container margin-top-30">
    <div class="ui grid stackable">
      <%- body %>
      <%- partial('_partial/sidebar') %>
    </div>
  </div>
  <%- partial('_partial/footer') %>
  <!-- gototop按钮 -->
  <button class="gototop"><i class="arrow alternate circle up outline icon big font-thin-yellow"></i></button>
  <!-- semantic ui js资源 -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
  <%- partial('_partial/scripts/showmore') %>
  <%- partial('_partial/scripts/enlighter') %>
  <%- partial('_partial/scripts/echarts') %>
  <%- partial('_partial/scripts/gototop') %>
  <%- partial('_partial/scripts/search') %>
  <%- partial('_partial/scripts/navActive') %>
  <%- partial('_partial/scripts/tabActive') %>
  <%- partial('_partial/scripts/catalog') %>
  <%- partial('_partial/scripts/mobileMenuButton') %>
  <%- partial('_partial/scripts/handerShare') %>
  <%- partial('_partial/scripts/fancybox') %>

  <!-- 朋友圈功能 -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
  <%- js('js/request.js') %>

  <% if (theme.tidio.enable){ %>
  <script src="https://code.tidio.co/hk48rdop6yczga3mpktspvcwes4taqbz.js" async></script>
  <% } %>

  <% if (theme.tawk.enable){ %>
  <%- partial('_partial/scripts/tawk') %>
  <% } %>

  <%- js('js/countdown.js') %>



  <!-- 实时聊天插件 -->
<script id="cid0020000309614009743" data-cfasync="false" async src="//st.chatango.com/js/gz/emb.js" style="width: 303px;height: 445px;">{"handle":"nothinglin-blog","arch":"js","styles":{"a":"fcebb6","b":100,"c":"000000","d":"000000","k":"fcebb6","l":"fcebb6","m":"fcebb6","p":"9","q":"fcebb6","r":100,"usricon":0.77,"pos":"bl","cv":1,"cvbg":"fcebb6","cvfg":"000000","cvw":193,"cvh":40,"surl":0,"cnrs":"1","ticker":1}}</script>

</body>

</html>
